<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container" *ngIf="productoList">
  <table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th>Código</th>
        <th>Árticulo</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productoList">

        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.precio}}€</td>
        <td><button type="button" [routerLink]="['/modificar' ,producto.id-1]"
            [queryParams]="{accion:'1'}">Modificar</button>
        </td>
        <td><button type="button" (click)="deleteProducto(producto)">Eliminar</button></td>
        <td><button type="button" [routerLink]="['/modificar', producto.id-1]"
            [queryParams]="{accion:'2'}">Eliminar2</button>
        </td>



      </tr>
    </tbody>
  </table>
</div>